<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      feed
    </h1>

    <p class="lead text-muted">Your favorite games</p>
  </div>
</div>

<% @user.favorited_games.each do |favorite| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <%= render "favorites/favorite", favorite: favorite %>
    </div>
  </div>
<% end %>