<h1>
  Who do you like to work in a group with?
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Classmate</th>
      <th scope="col">Pumped to be in their group?</th>
    </tr>
  </thead>
  <tbody>
   <% @list_of_users.each do |a_user| %>
  <% if a_user.id == @current_user.id %>
    <% else %>
    <tr>
      <th scope="row"><%= a_user.first_name + " " + a_user.last_name%></th>
      <td>
        <% users_friends = @current_user.friends.where({ :recipient_id => a_user.id }).at(0) %>

          <% if a_user.id == @current_user.id %>

          <% else %>

          <% if users_friends == nil %>
          <form action="/insert_friend" method = "post">
            <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">

            <button>Friend this user!</button>
          </form>

          <% else %>
            <a href="/delete_friend/<%= Friend.where({ :sender_id => @current_user.id, :recipient_id => a_user.id }).at(0).id %>">
              <i class="far fa-grin-stars"></i>
            </a>

          <% end %>
          <% end %>
        <% end %>
      </td>

    </tr>
  <%end%>
</table>







<hr>
