<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

  <a class="navbar-brand" href="#">Courses x Group</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/results">Results!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_sign_in">Sign in</a>        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_sign_out">Sign out</a>
      </li>
      <% if @current_user.present? %>
        <li class="nav-item">
          <a class="nav-link disabled">Hi, <%= @current_user.first_name %>!</a>
        </li>
        <%else%>
      <%end%>


    </ul>
  </div>
  </div>
</nav>