<h1> Matching Courses </h1>

<p></p>



<p></p>

<table border=1>
    <tr>
      <th>
        Course
      </th>
      <th>
        Number of <%= "#{@current_user.full_name}" %>'s friends who like this course!
      </th>
    </tr>
  <% @matching_hash.each do |k, v| %>
    <tr>
      <td>
        <%= p Course.where({ :id => k }).at(0).name %>
      </td>
      <td>
        <%= p v %>
      </td>
    </tr>
  <%end%>
</table>
