<h1> Matching Courses </h1>

<div>

<%= @sender_ids %>


  <table border = "1">
    <tr>
      <td>
        <b>Course</b>
      </td>
      <td>
        <b>Number of friends who are interested in taking this course</b>
      </td>
    </tr>

<!-- I need to count the frequency of each course appearing here -->
<% # friends_liked_courses.each do |a_course| %>
      <% # a_course.each do |the_course| %>

<%# friends_liked_courses.where({ :course_id => the_course.id }).count %>
  <tr>
    <td>
      <% # the_course.name %>
    </td>
      <% # end %>
<% # end %>

<td></td>
</table>

</div>