<h1>Sign in</h1>

<form action="/user_verify_credentials" method="post">
  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Enter your email..." type="text">
  </div>

  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Enter your password..." type="password">
  </div>

  <button>
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>
